# User-specific stuff
**/.DS_Store
**/.idea/
**/build/
.java-version

# Gradle
**/.gradle

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
*.iml
*.ipr
*.project
*.eclipse.buildship.core.prefs
*.json
